body {
  background-color: grey;
  margin: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1 {
  text-align: center;
}
.wrapper {
  display: flex;
  background-color: rgba(47, 79, 79, 0.789);
  gap: 1rem;
  border-radius: 13px;
  padding: 1rem;
}
.buttons-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  display: grid;
  gap: 0.7rem;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  background-color: darkslategrey;
  border-radius: 10px;
  padding: 1rem;
}
.cell {
  background-color: black;
  width: 130px;
  height: 130px;
  border-radius: 6px;
  font-size: 3rem;
  text-align: center;
}
.cell:hover {
  background-color: dimgrey;
}
.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btn-reset {
  width: 100px;
  height: 100px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 8px;
}

@media screen and (max-width: 600px) {
  .cell {
    width: 80px;
    height: 80px;
  }
  .btn-reset {
    width: 80px;
    height: 80px;
  }
}
